/* line 1, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_container {
  box-sizing: border-box;
  min-width: 150px;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 500px) {
  /* line 1, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
  .left_menu_container {
    display: none;
  }
}

/* line 12, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-size: 8vw;
  color: #0f0;
}

/* line 21, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_header img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 27, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_content {
  width: 100%;
}

/* line 30, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_content > div {
  width: 70%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 5vh;
  padding-bottom: 10vh;
  border-bottom: 1px solid rgba(0, 255, 0, 0.8);
}

/* line 42, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_content a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5vw;
  color: #0f0;
}

/* line 53, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_content a img {
  width: 100%;
}

/* line 57, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_content a:hover div {
  position: absolute;
  width: 100%;
  height: 0px;
  box-shadow: 0px 0px 50px 10px #0f0;
}

/* line 66, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 3vh;
  gap: 1vw;
  width: 100%;
  background-color: #000;
}

/* line 76, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_footer a {
  flex: 0 1 30%;
  display: block;
  text-align: center;
}

/* line 81, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_footer a img {
  width: 90%;
  transition: all 1s;
}

/* line 85, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.left_menu_footer a img:hover {
  width: 100%;
}

/* line 3, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container {
  display: block;
  box-sizing: border-box;
  min-width: 220px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* line 11, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  font-size: 3vw;
  color: #0f0;
}

/* line 23, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_header img {
  width: 100%;
  max-width: 600px;
  background-color: black;
}

/* line 30, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .hidden_menu_content {
  display: none;
  width: 100%;
}

@media (max-width: 500px) {
  /* line 30, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .hidden_menu_content {
    display: block;
  }
}

/* line 39, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .hidden_menu_content > div {
  width: 70%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 5vh;
  padding-bottom: 10vh;
  border-bottom: 1px solid rgba(0, 255, 0, 0.8);
}

/* line 51, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .hidden_menu_content a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5vw;
  color: #0f0;
}

/* line 62, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .hidden_menu_content a img {
  width: 100%;
}

/* line 66, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .hidden_menu_content a:hover div {
  position: absolute;
  width: 100%;
  height: 0px;
  box-shadow: 0px 0px 50px 10px #0f0;
}

/* line 75, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5vh 0px;
  column-gap: 2vw;
  row-gap: 2vh;
  width: 100%;
}

/* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content1 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.2);
  border-radius: 4vw;
  box-shadow: 0px 0px 100px 5px rgba(0, 255, 0, 0.8);
}

@media (min-width: 770px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content1 {
    width: 45%;
    height: 25vw;
  }
}

@media (min-width: 1260px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content1 {
    width: 30%;
    height: 20vw;
  }
}

/* line 103, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content1 span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/netmatters.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
}

/* line 113, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content1 a {
  display: block;
  visibility: visible;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content1:hover span {
  z-index: 1;
  position: absolute;
  transform: scale(160%);
}

@media (min-width: 770px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content1:hover span {
    transform: scale(160%) translate(14vw, 12vh);
  }
}

@media (min-width: 1260px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content1:hover span {
    transform: scale(200%) translate(14vw, 12vh);
  }
}

/* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content2 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.2);
  border-radius: 4vw;
  box-shadow: 0px 0px 100px 5px rgba(0, 255, 0, 0.8);
}

@media (min-width: 770px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content2 {
    width: 45%;
    height: 25vw;
  }
}

@media (min-width: 1260px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content2 {
    width: 30%;
    height: 20vw;
  }
}

/* line 103, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content2 span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/soon.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
}

/* line 113, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content2 a {
  display: block;
  visibility: visible;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content2:hover span {
  z-index: 1;
  position: absolute;
  transform: scale(160%);
}

@media (min-width: 770px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content2:hover span {
    transform: scale(160%) translate(-14vw, 12vh);
  }
}

@media (min-width: 1260px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content2:hover span {
    transform: scale(200%) translate(0vw, 12vh);
  }
}

/* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content3 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.2);
  border-radius: 4vw;
  box-shadow: 0px 0px 100px 5px rgba(0, 255, 0, 0.8);
}

@media (min-width: 770px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content3 {
    width: 45%;
    height: 25vw;
  }
}

@media (min-width: 1260px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content3 {
    width: 30%;
    height: 20vw;
  }
}

/* line 103, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content3 span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/soon.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
}

/* line 113, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content3 a {
  display: block;
  visibility: visible;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content3:hover span {
  z-index: 1;
  position: absolute;
  transform: scale(160%);
}

@media (min-width: 770px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content3:hover span {
    transform: scale(160%) translate(14vw, 0vh);
  }
}

@media (min-width: 1260px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content3:hover span {
    transform: scale(200%) translate(-14vw, 12vh);
  }
}

/* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content4 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.2);
  border-radius: 4vw;
  box-shadow: 0px 0px 100px 5px rgba(0, 255, 0, 0.8);
}

@media (min-width: 770px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content4 {
    width: 45%;
    height: 25vw;
  }
}

@media (min-width: 1260px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content4 {
    width: 30%;
    height: 20vw;
  }
}

/* line 103, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content4 span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/soon.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
}

/* line 113, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content4 a {
  display: block;
  visibility: visible;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content4:hover span {
  z-index: 1;
  position: absolute;
  transform: scale(160%);
}

@media (min-width: 770px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content4:hover span {
    transform: scale(160%) translate(-14vw, 0vh);
  }
}

@media (min-width: 1260px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content4:hover span {
    transform: scale(200%) translate(14vw, -12vh);
  }
}

/* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content5 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.2);
  border-radius: 4vw;
  box-shadow: 0px 0px 100px 5px rgba(0, 255, 0, 0.8);
}

@media (min-width: 770px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content5 {
    width: 45%;
    height: 25vw;
  }
}

@media (min-width: 1260px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content5 {
    width: 30%;
    height: 20vw;
  }
}

/* line 103, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content5 span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/soon.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
}

/* line 113, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content5 a {
  display: block;
  visibility: visible;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content5:hover span {
  z-index: 1;
  position: absolute;
  transform: scale(160%);
}

@media (min-width: 770px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content5:hover span {
    transform: scale(160%) translate(14vw, -12vh);
  }
}

@media (min-width: 1260px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content5:hover span {
    transform: scale(200%) translate(0vw, -12vh);
  }
}

/* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content6 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.2);
  border-radius: 4vw;
  box-shadow: 0px 0px 100px 5px rgba(0, 255, 0, 0.8);
}

@media (min-width: 770px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content6 {
    width: 45%;
    height: 25vw;
  }
}

@media (min-width: 1260px) {
  /* line 86, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content6 {
    width: 30%;
    height: 20vw;
  }
}

/* line 103, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content6 span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/soon.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
}

/* line 113, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content6 a {
  display: block;
  visibility: visible;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content6:hover span {
  z-index: 1;
  position: absolute;
  transform: scale(160%);
}

@media (min-width: 770px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content6:hover span {
    transform: scale(160%) translate(-14vw, -12vh);
  }
}

@media (min-width: 1260px) {
  /* line 121, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content6:hover span {
    transform: scale(200%) translate(-14vw, -12vh);
  }
}

/* line 173, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 10px;
  gap: 5vw;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  min-height: 60vh;
  border-bottom: 1px solid #0f0;
}

@media (max-width: 770px) {
  /* line 173, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .contact_form {
    flex-direction: column;
  }
}

/* line 188, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form > * {
  flex: 1 1 0;
  width: 100%;
}

/* line 193, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form .contact_message {
  box-sizing: border-box;
  padding: 2vw;
  min-height: 40vh;
  width: 100%;
  border-radius: 1vw;
  color: #0f0;
  background-color: rgba(0, 255, 0, 0.2);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 0, 0.8);
  font-size: clamp(12px, 4vh, 18px);
  overflow-y: auto;
}

/* line 205, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form .contact_message img {
  display: block;
  width: 80%;
}

/* line 210, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form .contact_message a {
  color: #0f0;
  text-decoration: none;
}

/* line 214, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form .contact_message a:hover {
  border-radius: 2px;
  background-color: rgba(0, 255, 0, 0.2);
  box-shadow: 0px 0px 15px 10px rgba(0, 255, 0, 0.2);
}

/* line 222, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form form > * {
  box-sizing: border-box;
  display: block;
  box-sizing: border-box;
  border-radius: .5vw;
  color: #0f0;
  outline: none;
  background-color: rgba(0, 255, 0, 0.2);
}

/* line 231, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form form > *::placeholder {
  color: rgba(0, 255, 0, 0.6);
}

/* line 235, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form form > *:focus::placeholder {
  color: transparent;
}

/* line 239, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form form > *:hover {
  background-color: rgba(0, 255, 0, 0.3);
}

/* line 244, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form input[type="text"],
.content_container .contact_form input[type="email"] {
  padding: 1vh 2vw;
  width: 100%;
  font-size: clamp(12px, 4vh, 18px);
  line-height: 2.5vh;
  margin-bottom: 1vh;
  border: 1px solid rgba(0, 255, 0, 0.8);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 0, 0.8);
}

/* line 255, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form textarea {
  resize: none;
  padding: 1vh 2vw;
  width: 100%;
  height: 30vh;
  font-size: clamp(12px, 4vh, 18px);
  line-height: 2.5vh;
  margin-bottom: 1vh;
  border: 1px solid rgba(0, 255, 0, 0.8);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 0, 0.8);
}

/* line 267, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form input[type="submit"] {
  width: 30%;
  padding: 1vh 1vw;
  font-size: clamp(10px, 2vh, 18px);
  line-height: 2.5vh;
  border: 1px solid rgba(0, 255, 0, 0.8);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 0, 0.8);
}

/* line 277, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  min-height: 10vh;
  padding-top: 1vh;
  color: #0f0;
}

/* line 287, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_footer .socialmedia_footer {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1vw;
}

@media (max-width: 500px) {
  /* line 287, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content_footer .socialmedia_footer {
    display: inline-flex;
    margin-left: auto;
  }
}

/* line 299, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_footer .socialmedia_footer a {
  flex: 1 0 0;
  display: block;
  width: 10vw;
  min-width: 24px;
}

/* line 305, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_footer .socialmedia_footer a img {
  min-width: 20px;
  width: 8vw;
  transition: all 1s;
}

/* line 310, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_footer .socialmedia_footer a img:hover {
  min-width: 24px;
  width: 10vw;
}

/* line 1, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs {
  display: block !important;
  overflow-x: auto !important;
  padding: .5em !important;
  color: #abb2bf !important;
  background: #000 !important;
  overflow-x: hidden !important;
}

/* line 10, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-comment,
.hljs-quote {
  color: #5c6370 !important;
  font-style: italic !important;
}

/* line 16, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #c678dd !important;
}

/* line 22, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75 !important;
}

/* line 30, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-literal {
  color: #56b6c2 !important;
}

/* line 34, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #98c379 !important;
}

/* line 42, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b !important;
}

/* line 47, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66 !important;
}

/* line 58, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee !important;
}

/* line 67, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-emphasis {
  font-style: italic !important;
}

/* line 71, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-strong {
  font-weight: 700 !important;
}

/* line 75, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-link {
  text-decoration: underline !important;
}

/* line 1, ../../../../xampp/htdocs/portfolio/scss/_scrollbar.scss */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
/* line 6, ../../../../xampp/htdocs/portfolio/scss/_scrollbar.scss */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0a0;
}

/* Handle */
/* line 11, ../../../../xampp/htdocs/portfolio/scss/_scrollbar.scss */
::-webkit-scrollbar-thumb {
  background: #0a0;
}

/* Handle on hover */
/* line 16, ../../../../xampp/htdocs/portfolio/scss/_scrollbar.scss */
::-webkit-scrollbar-thumb:hover {
  background: #0f0;
}

@font-face {
  font-family: "MatrixFont";
  src: url("../font/matrix code nfi.ttf");
}

/* line 12, ../../../../xampp/htdocs/portfolio/scss/master.scss */
html {
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: "Courier";
}

/* line 19, ../../../../xampp/htdocs/portfolio/scss/master.scss */
pre {
  font-family: "Courier";
  tab-size: 4;
}

/* line 24, ../../../../xampp/htdocs/portfolio/scss/master.scss */
body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  background-image: url("../img/matrix_bg.png");
}

/* line 34, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.background {
  box-sizing: border-box;
  position: absolute;
}

/* line 39, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#hidden_overlay {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 255, 0, 0.1);
  visibility: hidden;
}

/* line 51, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about,
#scs,
#code {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: all 2s;
  padding: 2vw;
  color: #0f0;
  overflow: hidden;
  border-radius: 5vw;
  background-color: black;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 0, 0.8);
}

/* line 67, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about h2,
#scs h2,
#code h2 {
  margin: 0px;
}

/* line 71, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about p,
#scs p,
#code p {
  margin: 0px;
}

/* line 75, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about > div,
#scs > div,
#code > div {
  padding: 4vw;
  font-size: clamp(12px, 2vw, 16px);
  height: 80%;
  border-top-left-radius: 2vw;
  overflow: auto;
}

/* line 83, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about > a,
#scs > a,
#code > a {
  width: 20vw;
}

/* line 87, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about a,
#scs a,
#code a {
  margin-top: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1vw;
  text-decoration: none;
  font-size: clamp(12px, 4vh, 18px);
  color: #0f0;
}

/* line 99, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about a img,
#scs a img,
#code a img {
  width: 100%;
}

/* line 103, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about a > div,
#scs a > div,
#code a > div {
  position: absolute;
  width: 100%;
  height: 0px;
  box-shadow: 0px 0px 50px 10px #0f0;
}

/* line 110, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about a:hover div,
#scs a:hover div,
#code a:hover div {
  box-shadow: 0px 0px 50px 15px #0f0;
}

/* line 116, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.hide {
  visibility: hidden;
  top: 47.5%;
  left: 47.5%;
  width: 5%;
  height: 5%;
}

/* line 124, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.show {
  visibility: visible;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

/* line 132, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.page_container {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* line 143, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.page_container .left_menu_container {
  flex: 1 0 0;
}

/* line 147, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.page_container .content_container {
  flex: 5 0 0;
}

/*# sourceMappingURL=master.css.map */