/* line 1, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_container {
  box-sizing: border-box;
  width: 200px;
  overflow: hidden;
}

@media (max-width: 500px) {
  /* line 1, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
  .leftmenu_container {
    display: none;
  }
}

/* line 12, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-size: 8vw;
  color: #0f0;
}

/* line 21, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_header img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 27, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_content {
  width: 100%;
}

/* line 30, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_content > div {
  width: 70%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 5vh;
  padding-bottom: 10vh;
  border-bottom: 1px solid rgba(0, 255, 0, 0.8);
}

/* line 42, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_content a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
  font-size: clamp(14px, 4vw, 22px);
  color: #0f0;
}

/* line 53, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_content a:hover div {
  position: absolute;
  width: 100%;
  height: 0px;
  box-shadow: 0px 0px 3vh .5vh #0f0;
}

/* line 62, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 3vh;
  gap: 1vw;
  width: 100%;
  background-color: #000;
}

/* line 73, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_footer a:first-child img {
  background-color: rgba(0, 255, 0, 0.7);
  border-radius: 45%;
}

/* line 79, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_footer a {
  flex: 0 1 30%;
  display: block;
  text-align: center;
}

/* line 84, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_footer a img {
  width: 90%;
  transition: all 1s;
}

/* line 88, ../../../../xampp/htdocs/portfolio/scss/_leftmenu.scss */
.leftmenu_footer a img:hover {
  width: 100%;
}

/* line 3, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-width: 220px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* line 12, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .background {
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

/* line 18, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_header {
  position: absolute;
  z-index: 1;
  top: 0px;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  border-radius: 3vw;
}

/* line 27, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

/* line 35, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_header > div .titletext {
  width: 80%;
  text-align: center;
  color: #0f0;
  font-weight: 800;
  line-height: clamp(22px, 6vw, 72px);
  font-size: clamp(16px, 4vw, 52px);
  background-color: rgba(0, 0, 0, 0.8);
  cursor: default;
}

/* line 48, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 1vw;
  row-gap: 2vh;
  width: 90%;
  margin: 3vh auto;
}

/* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content1 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 4vw;
  box-shadow: 0px 0px 50px 1px rgba(0, 255, 0, 0.8);
  /*&:hover span{
					z-index: 1;
					position: absolute;
					transform: scale(160%);
					
					@media (min-width: 770px){
						@if($i==1){
							transform: scale(160%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(160%) translate(-14vw, 12vh);
						}
						@if($i==3){
							transform: scale(160%) translate(14vw, 0vh);
						}
						@if($i==4){
							transform: scale(160%) translate(-14vw, 0vh);
						}
						@if($i==5){
							transform: scale(160%) translate(14vw, -12vh);
						}
						@if($i==6){
							transform: scale(160%) translate(-14vw, -12vh);
						}
					}
					
					@media (min-width: 1260px){
						
						@if($i==1){
							transform: scale(180%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(180%) translate(0vw, 12vh);
						}
						@if($i==3){
							transform: scale(180%) translate(-14vw, 12vh);
						}
						@if($i==4){
							transform: scale(180%) translate(14vw, -12vh);
						}
						@if($i==5){
							transform: scale(180%) translate(0vw, -12vh);
						}
						@if($i==6){
							transform: scale(180%) translate(-14vw, -12vh);
						}
					}
				}*/
}

@media (min-width: 770px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content1 {
    width: 45%;
    height: 20vw;
  }
}

@media (min-width: 1260px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content1 {
    width: 30%;
    height: 15vw;
  }
}

/* line 76, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content1 span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/netmatters.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
  cursor: pointer;
}

/* line 87, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content1 span a {
  position: absolute;
  text-align: center;
  bottom: 2vh;
  left: 5vw;
  right: 5vw;
  display: block;
  height: 18px;
  border-radius: 5px;
  background-color: #000;
  color: #0f0;
  text-decoration: none;
  font-size: clamp(14px, 2vw, 18px);
}

/* line 101, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content1 span a:hover {
  background-color: #111;
}

/* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content2 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 4vw;
  box-shadow: 0px 0px 50px 1px rgba(0, 255, 0, 0.8);
  /*&:hover span{
					z-index: 1;
					position: absolute;
					transform: scale(160%);
					
					@media (min-width: 770px){
						@if($i==1){
							transform: scale(160%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(160%) translate(-14vw, 12vh);
						}
						@if($i==3){
							transform: scale(160%) translate(14vw, 0vh);
						}
						@if($i==4){
							transform: scale(160%) translate(-14vw, 0vh);
						}
						@if($i==5){
							transform: scale(160%) translate(14vw, -12vh);
						}
						@if($i==6){
							transform: scale(160%) translate(-14vw, -12vh);
						}
					}
					
					@media (min-width: 1260px){
						
						@if($i==1){
							transform: scale(180%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(180%) translate(0vw, 12vh);
						}
						@if($i==3){
							transform: scale(180%) translate(-14vw, 12vh);
						}
						@if($i==4){
							transform: scale(180%) translate(14vw, -12vh);
						}
						@if($i==5){
							transform: scale(180%) translate(0vw, -12vh);
						}
						@if($i==6){
							transform: scale(180%) translate(-14vw, -12vh);
						}
					}
				}*/
}

@media (min-width: 770px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content2 {
    width: 45%;
    height: 20vw;
  }
}

@media (min-width: 1260px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content2 {
    width: 30%;
    height: 15vw;
  }
}

/* line 76, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content2 span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/underconstruction.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
  cursor: pointer;
}

/* line 87, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content2 span a {
  position: absolute;
  text-align: center;
  bottom: 2vh;
  left: 5vw;
  right: 5vw;
  display: block;
  height: 18px;
  border-radius: 5px;
  background-color: #000;
  color: #0f0;
  text-decoration: none;
  font-size: clamp(14px, 2vw, 18px);
}

/* line 101, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content2 span a:hover {
  background-color: #111;
}

/* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content3 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 4vw;
  box-shadow: 0px 0px 50px 1px rgba(0, 255, 0, 0.8);
  /*&:hover span{
					z-index: 1;
					position: absolute;
					transform: scale(160%);
					
					@media (min-width: 770px){
						@if($i==1){
							transform: scale(160%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(160%) translate(-14vw, 12vh);
						}
						@if($i==3){
							transform: scale(160%) translate(14vw, 0vh);
						}
						@if($i==4){
							transform: scale(160%) translate(-14vw, 0vh);
						}
						@if($i==5){
							transform: scale(160%) translate(14vw, -12vh);
						}
						@if($i==6){
							transform: scale(160%) translate(-14vw, -12vh);
						}
					}
					
					@media (min-width: 1260px){
						
						@if($i==1){
							transform: scale(180%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(180%) translate(0vw, 12vh);
						}
						@if($i==3){
							transform: scale(180%) translate(-14vw, 12vh);
						}
						@if($i==4){
							transform: scale(180%) translate(14vw, -12vh);
						}
						@if($i==5){
							transform: scale(180%) translate(0vw, -12vh);
						}
						@if($i==6){
							transform: scale(180%) translate(-14vw, -12vh);
						}
					}
				}*/
}

@media (min-width: 770px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content3 {
    width: 45%;
    height: 20vw;
  }
}

@media (min-width: 1260px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content3 {
    width: 30%;
    height: 15vw;
  }
}

/* line 76, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content3 span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/underconstruction.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
  cursor: pointer;
}

/* line 87, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content3 span a {
  position: absolute;
  text-align: center;
  bottom: 2vh;
  left: 5vw;
  right: 5vw;
  display: block;
  height: 18px;
  border-radius: 5px;
  background-color: #000;
  color: #0f0;
  text-decoration: none;
  font-size: clamp(14px, 2vw, 18px);
}

/* line 101, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content3 span a:hover {
  background-color: #111;
}

/* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content4 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 4vw;
  box-shadow: 0px 0px 50px 1px rgba(0, 255, 0, 0.8);
  /*&:hover span{
					z-index: 1;
					position: absolute;
					transform: scale(160%);
					
					@media (min-width: 770px){
						@if($i==1){
							transform: scale(160%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(160%) translate(-14vw, 12vh);
						}
						@if($i==3){
							transform: scale(160%) translate(14vw, 0vh);
						}
						@if($i==4){
							transform: scale(160%) translate(-14vw, 0vh);
						}
						@if($i==5){
							transform: scale(160%) translate(14vw, -12vh);
						}
						@if($i==6){
							transform: scale(160%) translate(-14vw, -12vh);
						}
					}
					
					@media (min-width: 1260px){
						
						@if($i==1){
							transform: scale(180%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(180%) translate(0vw, 12vh);
						}
						@if($i==3){
							transform: scale(180%) translate(-14vw, 12vh);
						}
						@if($i==4){
							transform: scale(180%) translate(14vw, -12vh);
						}
						@if($i==5){
							transform: scale(180%) translate(0vw, -12vh);
						}
						@if($i==6){
							transform: scale(180%) translate(-14vw, -12vh);
						}
					}
				}*/
}

@media (min-width: 770px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content4 {
    width: 45%;
    height: 20vw;
  }
}

@media (min-width: 1260px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content4 {
    width: 30%;
    height: 15vw;
  }
}

/* line 76, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content4 span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/underconstruction.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
  cursor: pointer;
}

/* line 87, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content4 span a {
  position: absolute;
  text-align: center;
  bottom: 2vh;
  left: 5vw;
  right: 5vw;
  display: block;
  height: 18px;
  border-radius: 5px;
  background-color: #000;
  color: #0f0;
  text-decoration: none;
  font-size: clamp(14px, 2vw, 18px);
}

/* line 101, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content4 span a:hover {
  background-color: #111;
}

/* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content5 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 4vw;
  box-shadow: 0px 0px 50px 1px rgba(0, 255, 0, 0.8);
  /*&:hover span{
					z-index: 1;
					position: absolute;
					transform: scale(160%);
					
					@media (min-width: 770px){
						@if($i==1){
							transform: scale(160%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(160%) translate(-14vw, 12vh);
						}
						@if($i==3){
							transform: scale(160%) translate(14vw, 0vh);
						}
						@if($i==4){
							transform: scale(160%) translate(-14vw, 0vh);
						}
						@if($i==5){
							transform: scale(160%) translate(14vw, -12vh);
						}
						@if($i==6){
							transform: scale(160%) translate(-14vw, -12vh);
						}
					}
					
					@media (min-width: 1260px){
						
						@if($i==1){
							transform: scale(180%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(180%) translate(0vw, 12vh);
						}
						@if($i==3){
							transform: scale(180%) translate(-14vw, 12vh);
						}
						@if($i==4){
							transform: scale(180%) translate(14vw, -12vh);
						}
						@if($i==5){
							transform: scale(180%) translate(0vw, -12vh);
						}
						@if($i==6){
							transform: scale(180%) translate(-14vw, -12vh);
						}
					}
				}*/
}

@media (min-width: 770px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content5 {
    width: 45%;
    height: 20vw;
  }
}

@media (min-width: 1260px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content5 {
    width: 30%;
    height: 15vw;
  }
}

/* line 76, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content5 span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/underconstruction.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
  cursor: pointer;
}

/* line 87, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content5 span a {
  position: absolute;
  text-align: center;
  bottom: 2vh;
  left: 5vw;
  right: 5vw;
  display: block;
  height: 18px;
  border-radius: 5px;
  background-color: #000;
  color: #0f0;
  text-decoration: none;
  font-size: clamp(14px, 2vw, 18px);
}

/* line 101, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content5 span a:hover {
  background-color: #111;
}

/* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content6 {
  position: relative;
  width: 60%;
  height: 30vw;
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 4vw;
  box-shadow: 0px 0px 50px 1px rgba(0, 255, 0, 0.8);
  /*&:hover span{
					z-index: 1;
					position: absolute;
					transform: scale(160%);
					
					@media (min-width: 770px){
						@if($i==1){
							transform: scale(160%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(160%) translate(-14vw, 12vh);
						}
						@if($i==3){
							transform: scale(160%) translate(14vw, 0vh);
						}
						@if($i==4){
							transform: scale(160%) translate(-14vw, 0vh);
						}
						@if($i==5){
							transform: scale(160%) translate(14vw, -12vh);
						}
						@if($i==6){
							transform: scale(160%) translate(-14vw, -12vh);
						}
					}
					
					@media (min-width: 1260px){
						
						@if($i==1){
							transform: scale(180%) translate(14vw, 12vh);
						}
						@if($i==2){
							transform: scale(180%) translate(0vw, 12vh);
						}
						@if($i==3){
							transform: scale(180%) translate(-14vw, 12vh);
						}
						@if($i==4){
							transform: scale(180%) translate(14vw, -12vh);
						}
						@if($i==5){
							transform: scale(180%) translate(0vw, -12vh);
						}
						@if($i==6){
							transform: scale(180%) translate(-14vw, -12vh);
						}
					}
				}*/
}

@media (min-width: 770px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content6 {
    width: 45%;
    height: 20vw;
  }
}

@media (min-width: 1260px) {
  /* line 59, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content .content6 {
    width: 30%;
    height: 15vw;
  }
}

/* line 76, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content6 span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4vw;
  transition: all 1s;
  background: no-repeat center/cover url("../img/underconstruction.png"), radial-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0.8));
  background-blend-mode: difference;
  cursor: pointer;
}

/* line 87, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content6 span a {
  position: absolute;
  text-align: center;
  bottom: 2vh;
  left: 5vw;
  right: 5vw;
  display: block;
  height: 18px;
  border-radius: 5px;
  background-color: #000;
  color: #0f0;
  text-decoration: none;
  font-size: clamp(14px, 2vw, 18px);
}

/* line 101, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content .content6 span a:hover {
  background-color: #111;
}

/* line 160, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .hiddenbutton a {
  visibility: hidden;
}

/* line 165, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 10px;
  gap: 5vw;
  justify-content: space-around;
  align-items: stretch;
  width: 90%;
  margin: auto;
  min-height: 60vh;
  border-bottom: 1px solid #0f0;
}

@media (max-width: 770px) {
  /* line 165, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .contact_form {
    flex-direction: column;
  }
}

/* line 181, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form > * {
  flex: 1 1 0;
  width: 100%;
}

/* line 186, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form .contact_message {
  box-sizing: border-box;
  padding: 2vw;
  min-height: 40vh;
  width: 100%;
  border-radius: 1vw;
  color: #0f0;
  background-color: rgba(0, 255, 0, 0.1);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 0, 0.8);
  font-size: clamp(16px, 4vw, 18px);
  overflow-y: auto;
  cursor: default;
}

/* line 199, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form .contact_message img {
  display: block;
  width: 80%;
}

/* line 204, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form .contact_message a {
  color: #0f0;
  text-decoration: none;
}

/* line 208, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form .contact_message a:hover {
  border-radius: 2px;
  background-color: rgba(0, 255, 0, 0.2);
  box-shadow: 0px 0px 15px 10px rgba(0, 255, 0, 0.2);
}

/* line 216, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form form > * {
  box-sizing: border-box;
  display: block;
  box-sizing: border-box;
  border-radius: .5vw;
  font-family: "Courier";
  color: #0f0;
  outline: none;
  background-color: rgba(0, 255, 0, 0.1);
}

/* line 226, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form form > *::placeholder {
  color: rgba(0, 255, 0, 0.6);
}

/* line 230, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form form > *:focus::placeholder {
  color: transparent;
}

/* line 234, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form form > *:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

/* line 239, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form input[type="text"],
.content_container .contact_form input[type="email"] {
  padding: 1vh 2vw;
  width: 100%;
  font-size: clamp(14px, 4vw, 18px);
  line-height: 2.5vh;
  margin-bottom: 1vh;
  border: 1px solid rgba(0, 255, 0, 0.8);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 255, 0, 0.8);
}

/* line 250, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form textarea {
  resize: none;
  padding: 2vh 2vw;
  width: 100%;
  height: 30vh;
  font-size: clamp(14px, 4vw, 18px);
  line-height: 2.5vh;
  margin-bottom: 1vh;
  border: 1px solid rgba(0, 255, 0, 0.8);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 255, 0, 0.8);
}

/* line 262, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form input[type="submit"] {
  width: 40%;
  display: inline-block;
  padding: 1vh 1vw;
  font-size: clamp(14px, 4vw, 18px);
  line-height: 2.5vh;
  border: 1px solid rgba(0, 255, 0, 0.8);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 255, 0, 0.8);
}

/* line 272, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .contact_form label {
  float: right;
}

/* line 277, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding-top: 1vh;
  color: #0f0;
}

/* line 288, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_footer .socialmedia_footer {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1vw;
}

@media (max-width: 500px) {
  /* line 288, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
  .content_container .content_footer .socialmedia_footer {
    display: inline-flex;
    margin-left: auto;
  }
}

/* line 301, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_footer .socialmedia_footer a:nth-child(2) img {
  background-color: rgba(0, 255, 0, 0.7);
  border-radius: 45%;
}

/* line 307, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_footer .socialmedia_footer a {
  flex: 1 0 0;
  display: block;
  width: 10vw;
  min-width: 24px;
}

/* line 313, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_footer .socialmedia_footer a img {
  min-width: 20px;
  width: 8vw;
  transition: all 1s;
}

/* line 318, ../../../../xampp/htdocs/portfolio/scss/_content.scss */
.content_container .content_footer .socialmedia_footer a img:hover {
  min-width: 24px;
  width: 10vw;
}

/* line 1, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs {
  display: block !important;
  overflow: auto !important;
  padding: .5em !important;
  color: #abb2bf !important;
  background: #222 !important;
  box-sizing: border-box !important;
  border-radius: 15px;
  tab-size: 4;
}

/* line 12, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-comment,
.hljs-quote {
  color: #5c6370 !important;
  font-style: italic !important;
}

/* line 18, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #c678dd !important;
}

/* line 24, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75 !important;
}

/* line 32, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-literal {
  color: #56b6c2 !important;
}

/* line 36, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #98c379 !important;
}

/* line 44, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b !important;
}

/* line 49, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66 !important;
}

/* line 60, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee !important;
}

/* line 69, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-emphasis {
  font-style: italic !important;
}

/* line 73, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-strong {
  font-weight: 700 !important;
}

/* line 77, ../../../../xampp/htdocs/portfolio/scss/_hljs.scss */
.hljs-link {
  text-decoration: underline !important;
}

/* line 1, ../../../../xampp/htdocs/portfolio/scss/_scrollbar.scss */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
/* line 6, ../../../../xampp/htdocs/portfolio/scss/_scrollbar.scss */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0a0;
}

/* Handle */
/* line 11, ../../../../xampp/htdocs/portfolio/scss/_scrollbar.scss */
::-webkit-scrollbar-thumb {
  background: #0a0;
}

/* Handle on hover */
/* line 16, ../../../../xampp/htdocs/portfolio/scss/_scrollbar.scss */
::-webkit-scrollbar-thumb:hover {
  background: #0f0;
}

@font-face {
  font-family: "MatrixFont";
  src: url("../font/matrix code nfi.ttf");
}

/* line 12, ../../../../xampp/htdocs/portfolio/scss/master.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #0f0;
  -webkit-background-clip: text;
}

/* line 20, ../../../../xampp/htdocs/portfolio/scss/master.scss */
html {
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: "Courier";
}

/* line 27, ../../../../xampp/htdocs/portfolio/scss/master.scss */
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

/* line 35, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#hidden_overlay {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 255, 0, 0.1);
  visibility: hidden;
}

/* line 47, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.mobile_bg {
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  border: 1px solid #0f0a;
  background-color: #000;
}

@media (min-width: 501px) {
  /* line 47, ../../../../xampp/htdocs/portfolio/scss/master.scss */
  .mobile_bg {
    display: none;
  }
}

/* line 59, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.mobile_bg .mobile_menu {
  padding: 2vw;
  font-size: clamp(26px, 6vw, 52px);
  font-weight: 800;
  text-decoration: none;
  color: #0f0;
  cursor: pointer;
  background-image: linear-gradient(90deg, #000 0%, #0f0 50%, #000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 72, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about,
#scs,
#code {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 3;
  transition: all 2s;
  padding: 2vw;
  color: #0f0;
  overflow: hidden;
  border-radius: 5vw;
  background-color: black;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 0, 0.8);
}

/* line 88, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about h2,
#scs h2,
#code h2 {
  margin: 2vw 0px;
}

/* line 92, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about p,
#scs p,
#code p {
  margin: 1vw 0px;
}

/* line 96, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about > div,
#scs > div,
#code > div {
  padding: 4vw;
  font-size: clamp(12px, 2vw, 16px);
  height: 80%;
  border-top-left-radius: 2vw;
  overflow: auto;
  font-weight: 600;
}

/* line 104, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about > div pre,
#scs > div pre,
#code > div pre {
  font-family: "Courier";
  tab-size: 4;
}

/* line 110, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about > a,
#scs > a,
#code > a {
  width: 20vw;
}

/* line 114, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about a,
#scs a,
#code a {
  margin-top: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1vw;
  text-decoration: none;
  font-size: clamp(12px, 2vw, 16px);
  color: #0f0;
}

/* line 126, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about a img,
#scs a img,
#code a img {
  width: 100%;
}

/* line 130, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about a > div,
#scs a > div,
#code a > div {
  position: absolute;
  width: 100%;
  height: 0px;
  box-shadow: 0px 0px 2vw .5vw #0f0;
}

/* line 137, ../../../../xampp/htdocs/portfolio/scss/master.scss */
#about a:hover div,
#scs a:hover div,
#code a:hover div {
  box-shadow: 0px 0px 3vw .8vw #0f0;
}

/* line 143, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.hide {
  visibility: hidden;
  top: 47.5%;
  left: 47.5%;
  width: 5%;
  height: 5%;
}

/* line 151, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.show {
  visibility: visible;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

/* line 159, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.page_container {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* line 170, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.page_container .left_menu_container {
  flex: 1 0 0;
}

/* line 174, ../../../../xampp/htdocs/portfolio/scss/master.scss */
.page_container .content_container {
  flex: 5 0 0;
}

/*# sourceMappingURL=master.css.map */