.left_menu_container{
	@media(max-width: 500px){
		display: none;
	}
	
	box-sizing: border-box;
	min-width: 150px;
	height: 100%;
	overflow: hidden;
}

.left_menu_header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
	
	font-size: 8vw;
	color: #0f0;
	
	img{
		width: 100%;
		background-color: rgba(0, 0, 0, .8);
	}
}

.left_menu_content{
	width: 100%;
	
	&>div{
		width: 70%;
		display: flex;
		gap: 5px;
		flex-direction: column;
		margin: 0px auto;
		background-color: rgba(0, 0, 0, .8);
		padding-top: 5vh;
		padding-bottom: 10vh;
		border-bottom: 1px solid rgba(0, 255, 0, .8);
	}
	
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		border-radius: 10px;
		text-decoration: none;
		font-size: 1.5vw;
		color: #0f0;
		
		img{
			width: 100%;
		}
		
		&:hover div{
			position: absolute;
			width:100%;
			height: 0px;
			box-shadow: 0px 0px 50px 10px #0f0;
		}
	}
}

.left_menu_footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	margin-top: 3vh;
	gap: 1vw;
	width: 100%;
	background-color: #000;
	
	a{
		flex: 0 1 30%;
		display: block;
		text-align: center;
		
		img{
			width: 90%;
			transition: all 1s;
			
			&:hover{
				width: 100%;
			}
		}
	}
}