@import 'leftmenu';
@import 'content';
@import 'declarations';
@import 'scion';
@import 'hljs.scss';
@import 'scrollbar';

@font-face {
  font-family: "MatrixFont";
  src: url('../font/matrix code nfi.ttf'),
}

html{
	width: 100%;
	height: 100%;
	position: fixed;
}

body {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000;
	background-image: url("../img/matrix_bg.png");
}

.background{
	box-sizing: border-box;
	position: absolute;
}

#hidden_overlay{	
	position: absolute;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 255, 0, 0.1);
	visibility: hidden;
}

#about,
#scs,
#code{
	position: absolute;
	box-sizing: border-box;
	z-index: 2;
	transition: all 2s;
	padding: 4vw;
	color: #0f0;
	overflow: hidden;
	border-radius: 5vw;
	background-color: black;
	box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 0, 0.8);
	
	div{
		font-size: clamp(12px, 2vw, 18px);
		height: 80%;
		border-top-left-radius: 2vw;
		overflow: auto;
	}
	
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 20vw;
		border-radius: 10px;
		text-decoration: none;
		font-size: 1.5vw;
		color: #0f0;
		
		img{
			width: 100%;
		}
		
		&:hover div{
			position: absolute;
			width:100%;
			height: 0px;
			box-shadow: 0px 0px 50px 10px #0f0;
		}
	}
}

.hide{
	visibility: hidden;
	top: 47.5%;
	left: 47.5%;
	width: 5%;
	height: 5%;
}

.show{
	visibility: visible;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}

.page_container{
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	.left_menu_container{
		flex: 1 0 15%;
	}
	
	.content_container{
		flex: 5 0 75%;
	}
}